/* место для вашего кода */

.header__menu {
  display: grid;
  width: 1052px;
  height: 105px;
  flex-shrink: 0;
  grid-template-columns: 457px 187px auto;
  margin-top: 76.5px;
  margin-bottom: 110px;
}

.header__links-list {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: lowercase;
  list-style: circle;
  gap: 20px;
  padding-left: 45.5px;
  padding-right: 10px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_after{
  text-underline-offset: 4px;
  text-indent: 4px;
  padding-left: 1px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  margin: 15px 15px;
  margin-left: 15px;
  justify-self: center;
}

.header__logo-image {
  width: 140px;
  height: 110px;
  flex-shrink: 0;
}

.header__address {
  justify-self: center;
  align-self: center;
  line-height: 1.35;
  padding-bottom: 5px;
  padding-left: 32%;
  font-size: 18px;
  
}



.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(#000 / 0.8);
}

.cover {
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  font-size: 'Raleway';
  box-sizing: border-box;
  z-index: -1;
}

.cover__description {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-transform: uppercase;
  color: white;
  font-family: 'Raleway';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  justify-items: center; 
  align-items: baseline; /* Выравнивание текста кнопки и просто текста*/
  padding-top: 8.1%;
  padding-left: 10px;
}

.address_link_style {
  text-underline-offset: 4px;
}

.cover .cover__description {
  margin: 50px 50px;
  padding-bottom: 62px;
}

.cover__description .bet-button {
  width: 256px;
  height: 51px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.cover__description-text {
  z-index: 0;
  line-height: 28px; 
  word-spacing: 15px;
  text-transform: uppercase;
  text-transform: uppercase;
}

.bet-button {
  z-index: 0;
  background-color: transparent;
}

.cover__title {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: white;
  margin: 50px 50px;
  padding-top: 165px;
  z-index: 0;
  line-height: 1.2;
}

.accent-span {
  display: block;
}

.span-higher {
  padding-bottom: 7px;
}

.span-higher-2 {
  padding-bottom: 10px;
}

.word-spacing {
  padding-left: 1px;
}

.align-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}


.one-letter-spacing-right {
  padding-left: 30px;
}

.one-text-spacing-right {

}

.lots {
  margin-bottom: 148px;
}

 
.lots__card-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
}

.lots__card-list-item {
  flex-shrink: 0; 
  box-sizing: border-box;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 334px; /* Да, размеры карточки именно в card, а не list-item*/
  height: 563px;
  padding: 51px 40px 48px;
}

.lots__heading {
  padding-left: 40px;
  margin-bottom: 27px;
  justify-content: center;
}

/*Пересмотреть, сделать универсальный класс, пока так*/

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


.section_header {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.card__title {
  color: #FFF;
  font-family: 'Raleway';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-family: 'Raleway';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  padding-left: 64px;
  text-decoration: underline;
  text-transform: lowercase;
}



.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 2fr;
  margin-bottom: 180px;
  align-items: center;
}

.about__logo {
  justify-self: center; /* Пригодилось для единичного выравнивания круга*/
}

.black-circle__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
  border-radius: 100%;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  z-index: 2;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
  z-index: 3;
}

.about__text-block {
  display: flex;
  flex-direction: column;
  row-gap: 24px;;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.2px;
}



.footer {
  margin-bottom: 88px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.address_link_style {
  text-decoration: none;
  font-style: normal;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active .footer__menu-link {
  text-decoration: none;
}

.footer__social-list {
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 48px;
  list-style: none;

}

.footer__menu-list-item {
  text-align: center;
  text-transform: lowercase;
}

.footer__social-icon {
  max-width: 48px;
}